name: Deploy to Firebase

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      
      - name: Install dependencies
        run: |
          cd functions
          npm ci
      
      - name: Build functions
        run: |
          cd functions
          npm run build
      
   - name: Deploy to Firebase
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > $HOME/gcloud-key.json
          export GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-key.json
          npm install -g firebase-tools
          firebase deploy --only functions --project dresscode-ai-32c50
