name: Deploy Firebase Functions

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'functions/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Functions dependencies
        run: |
          cd functions
          npm install

      - name: Build Functions
        run: |
          cd functions
          npm run build

      - name: Create service account file
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > $HOME/gcp-key.json

      - name: Deploy Functions with Environment Variables
        run: |
          npm install -g firebase-tools
          export GOOGLE_APPLICATION_CREDENTIALS="$HOME/gcp-key.json"
          firebase deploy --only functions --force --project dresscode-ai-32c50 --set-env-vars GEMINI_API_KEY="${{ secrets.GEMINI_API_KEY }}",REPLICATE_API_TOKEN="${{ secrets.REPLICATE_API_TOKEN }}"
